{% extends 'CRUDmodule/base.html' %}
{% block style %}
<style>
    .form-section {
      background-color: #f8f9fa;
      border-radius: 10px;
      padding: 20px;
      margin-bottom: 20px;
    }
    .form-section h3 {
      color:rgb(219, 26, 26);
      margin-bottom: 20px;
    }
    .dynamic-field {
      margin-bottom: 10px;
    }
    .payment-mode {
      margin-bottom: 10px;
    }
</style>
{% endblock %}
{% block body %}
  <div class="container my-5">
    <h1 class="text-center mb-4">Customer Deletion Page</h1>
      <form action="{% url 'deleteClient' %}" method="POST">
      {% csrf_token %}
      <!-- Customer Details Section -->
      <div class="form-section">
        <h3>Customer Details</h3>
        <div class="row">
          <div class="col-md-4">
            <label for="firstName" class="form-label">Enter Client ID to Delete Information</label>
            <input type="text" class="form-control" id="firstName" name="customerID" required>
          </div>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="text-center mt-4">
        <button type="submit" class="btn bg-danger btn-lg">Delete</button>
      </div>
    </form>
  </div>
{% endblock %}